<!DOCTYPE html>
<html lang="en" data-ng-app="aphApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The home page of Andrew Havis, an IBMer and Spurs fan in London and Hertfordshire, UK">
    <meta name="author" content="Andrew Havis">

    <title>Andrew Havis : an IBMer and Spurs fan : London and Hertfordshire, UK</title>


    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.min.css">
    <!-- build:css css/aph-web.css -->
    <link href="css/landing-page.css" rel="stylesheet">
    <!-- endbuild -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Muli:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    
    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/ngtweet/dist/ngtweet.min.js"></script>
    <script src="/lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    
    <!-- build:js js/aph-web.js -->
    <script src="js/main.js"></script> 
    <script src="js/controllers/flickr.ctrl.js"></script>
    <script src="js/controllers/twitter.ctrl.js"></script>
    <!-- endbuild -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-ng-controller="flickrCtrl">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">andrew-havis.co.uk</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#about">About</a>
                    </li>
                    <li>
                        <a href="#tweets">Tweets</a>
                    </li>
                    <li>
                        <a href="#photography">Photography</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="header"></a>
    <div class="intro-header" data-ng-style="{'background-image': 'url(' + photoUrl + ')'}">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Andrew Havis</h1>
                        <h3>An IBMer and Spurs fan living and working in London and Hertfordshire, UK</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/AndrewHavis" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/AndrewHavis" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a href="http://bit.ly/AndrewHavis" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="about"></a>
    <div class="content-section-a" data-ng-controller="twitterCtrl">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About Me</h2>
                    <p class="lead">I am a software developer and tester at IBM in London. Outside of work, I have interests in travel, photography and reading. I am also a Spurs supporter.</p>
                    <p class="lead">If you would like to contact me, please feel free to do so via my <a href="https://twitter.com/AndrewHavis" data-ng-href="{{profileUrl}}">Twitter</a> or <a href="http://bit.ly/AndrewHavis">LinkedIn</a> profiles.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="img/ipad.png" data-ng-src="{{avatar}}" alt="Me in front of the Olympic Stadium in London in September 2012" title="Me in front of the Olympic Stadium in London in September 2012">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    
    <a name="tweets"></a>
    <div class="content-section-b" data-ng-controller="twitterCtrl" data-ng-show="twitterJSON">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Tweets</h2>
                    <p class="lead">I have tweeted <span class="tweetCount twitterMetric">{{tweetCount | number}}</span> times, and have <span class="followerCount twitterMetric">{{followerCount | number}}</span> followers with <span class="followCount twitterMetric">{{followCount | number }}</span> follows.</p>
                    <h3>Recent Tweets</h3>
                    <div data-ng-repeat="tweet in tweetsJSON">
                        <twitter-widget twitter-widget-id="tweet.id_str" data-ng-show="tweet.id_str"></twitter-widget>
                    </div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <a class="twitter-grid" href="https://twitter.com/_/timelines/668939806907330561">A Collection on Twitter</a>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <a name="photography"></a>
    <div class="content-section-a">
        
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Photography</h2>
                    <p class="lead">A random selection of my photographs are shown below. You may <a href="https://www.flickr.com/photos/andph112/">view all the photos I have uploaded on Flickr</a>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <carousel interval="interval" no-wrap="!wrap">
                        <slide ng-repeat="slide in slides" active="slide.active">
                            <img ng-src="{{slide.image}}" style="margin:auto;">
                            <div>
                                <p>{{slide.text}}</p>
                            </div>
                        </slide>
                    </carousel>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner" data-ng-style="{'background-image': 'url(' + photoUrl + ')'}">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Me:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/AndrewHavis" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/AndrewHavis" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="http://bit.ly/AndrewHavis" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about">About</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#tweets">Tweets</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#photography">Photography</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contact</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Andrew Havis 2015. Licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>.</p>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>
