//colours
$black_60: rgba(0,0,0,0.6);
$colour_desert_storm_approx: #f8f8f8;
$black_20: rgba(0,0,0,0.2);
$colour_mercury_approx: #e7e7e7;

//fonts
$font_0: 'Muli';
$font_1: 'Helvetica Neue';
$font_2: 'Helvetica';
$font_3: 'Arial';
$font_4: 'sans-serif';

//urls
$url_0: url('../img/intro-bg.jpg');
$url_1: url('../img/banner-bg.jpg');

// Twitter metrics
$twitter_font_weight: bold;